<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">


     <title>Product Review</title>

     <script type="text/javascript" src="../static/D3/d3.v3.min.js"></script>
     <script type="text/javascript" src="../static/D3/d3.tip.v0.6.3.js"></script>
     <link href="static/css/bootstrap.min.css" rel="stylesheet">

     <script language="JavaScript" type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
     </script>
     <style>
     .axis text {
        font: 20px sans-serif;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      body {background-color: #D3D3D3;}
      .d3_tooltip {
        background: #484848;
        text-align: left;
        font-size: 8;
        font-color: #FFFFFF;
        height: 150px;
        width: 30%;
        border-radius: 5px;
        opacity: 60%;
        padding: 10px;
        position: absolute;
        overflow-y: scroll;
       }
      </style>
</head>

<body>


    <script type="text/javascript">
        //window.onload = console.log(localStorage.getItem("product"))


      window.addEventListener('load', function(){

        //get productID from search
        var productID = localStorage.getItem("product")

        // product name to title, REPLACE WITH ACTUAL PRODUCT NAME
        document.getElementById("prodName").innerHTML = productID;

        var w = window.innerWidth
        var h = window.innerHeight
        var barPadding = 50


        graphH = h/1.4

        var svg = d3.select("body")
                .append("svg")
                .attr("width", w)
                .attr("height", h/1.2);

        tool_tip = d3.tip()
           .attr("class", "d3_tooltip")
           .offset([0,w/6])
           .html(function(d) {
            return"<center><strong style=\"color: #FFFFFF\">Reviews</strong></center>\
            <p style=\"color: #FFFFFF\">"+d+"</p>"
            })


        svg.call(tool_tip)
        tool_tip.hide()

        //DUMMY DATA, DELETE
        ReviewsJS = {
            "Size": ["This is a great bag for a day on the beach. It is not waterproof, but it is not supposed to be. I use it every weekend and like the size and simple style."],
            "Style": ["This bag has great style!","I really like the design and style of this bag.", "This is a great bag for a day on the beach. It is not waterproof, but it is not supposed to be. I use it every weekend and like the size and simple style."], "Material": ["Brought it on vacation for a week and one of the straps is already tearing.", "The material is a little cheaply made, however for the price, that is expected."], "Price": ["Too Expensive!", "This bag is not worth the price!"], "Shipping": ["Took so long to get delviered"], "Quality": ["Bad"]
        }

        Scores = [["Size", 0.4], ["Style", 0.8], ["Material", 0.2], ["Price", -0.6],
        ["Quality",-0.35], ["Shipping", -0.9]]


        // bubbles have to have positive values
        Scores2 = [["Size", 0.4], ["Style", 0.8], ["Material", 0.2], ["Price", 0.6],
        ["Quality",0.35], ["Shipping", 0.9]]


        // bubble chart

        var maxSize = Math.min(w,h),
          color = d3.scale.category20b(); //color category

        var bubble = d3.layout.pack()
            .sort(null)
            .size([maxSize, maxSize])
            .value(function(d) {return d[1]})
            .padding(1.5);

        var svg1 = d3.select("body")
            .append("svg")
            .attr("width", maxSize)
            .attr("height", maxSize)
            .attr("class", "bubble");


        var nodes = bubble.nodes({children:Scores2}).filter(function(d) { return !d.children; });

        // chart
        var bubbles = svg1.append("g")
            .attr("transform", "translate(0,0)")
            .selectAll(".bubble")
            .data(nodes)
            .enter();

        // create bubbles
        bubbles.append("circle")
            .attr("r", function(d){ return d.r; })
            .attr("cx", function(d){ return d.x; })
            .attr("cy", function(d){ return d.y; })
            .style("fill", function(d) { return color(d.value); })
            .on("click", showGoodReview)
            .on("mouseover", function(d) { d3.select(this).style("cursor", 'pointer')})
            .on("mouseout", function(d) { d3.select(this).style("cursor", 'default')});


        // bubble text
        bubbles.append("text")
            .attr("x", function(d){ return d.x; })
            .attr("y", function(d){ return d.y + 5; })
            .attr("text-anchor", "middle")
            .text(function(d){ return d[0]; })
            .on("mouseover", function(d) { d3.select(this).style("cursor", 'pointer')})
            .on("mouseout", function(d) { d3.select(this).style("cursor", 'default')})
            .on("click", showGoodReview)
            .style({
                "fill":"white",
                "font-family":"Helvetica Neue, Helvetica, Arial, san-serif",
                "font-size": "12px"
            });

        //bar chart

        var scaleX = d3.scale.linear()
          .domain(d3.extent(Scores, function(d) { return d[1]; }))
          .range([barPadding, w-barPadding]);

        var scaleY = d3.scale.ordinal()
          .domain(Scores.map(function(d) { return d[0]; }))
          .rangeRoundBands([barPadding, graphH], .2);

        svg.selectAll("rect")
          .data(Scores)
          .enter()
          .append("rect")
          .attr("fill", function(d) {
            if(d[1] > 0) { return "green" } else {return "#d13419" }})
          .attr("x", function(d) { return scaleX(Math.min(0, d[1])); })
          .attr("y", function(d) { return scaleY(d[0]); })
          .attr("width", function(d) { return Math.abs(scaleX(d[1]) - scaleX(0)); })
          .attr("height", scaleY.rangeBand());



        var xAxis = d3.svg.axis()
          .scale(scaleX)
          .orient("bottom");

        var yAxis = d3.svg.axis()
          .scale(scaleY)
          .orient("left")
          .tickSize(0)
          .tickPadding(6);

        svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," +graphH+ ")")
          .call(xAxis);

        svg.append("g")
          .attr("class", "y axis")
          .attr("transform", "translate(" + scaleX(0) + ",0)")
          .call(yAxis);


        barHeader = [0, "Product Feature Score"]
        svg.append("text")
          .text(barHeader[1])
          .attr("x", scaleX(barHeader[0]))
          .attr("y", barPadding-10)
          .attr("font-family", "sans-serif")
          .attr("font-size", "26px")
          .attr("text-anchor", "middle")

        bubbleHeader = ["Click a bubble to see related reviews!"]
        svg1.append("text")
          .text(bubbleHeader[0])
          .attr("x", barPadding/2)
          .attr("y", 20)
          .attr("font-family", "sans-serif")
          .attr("font-size", "26px")
          .attr("text-anchor", "left")


        clicked=false;
        prevAspect = ""
        function showGoodReview() {
          currentAspect = this.__data__[0]
          Reviews = ReviewsJS[currentAspect]

          toPrint = []
          for (i=0; i<Reviews.length; i++){
            if(i==0){
              toPrint.push("<br>")
            }
            else{
              toPrint.push("<br><br>")
            }
            toPrint.push("\"")
            toPrint.push(Reviews[i])
            toPrint.push("\"")
          }

          toPrint = toPrint.join("");

          if(clicked && prevAspect==currentAspect ) {
            tool_tip.hide(toPrint)
            prevAspect = ""
            clicked = !clicked

          } else if (!clicked && prevAspect!=currentAspect ) {
              tool_tip.show(toPrint)
              prevAspect = currentAspect
              clicked = !clicked
            } else { //switch between tooltips
              tool_tip.hide(toPrint)
              tool_tip.show(toPrint)
              prevAspect = currentAspect
            }
        }
      });

    </script>
    <h1 style="margin-left: 25px";>Review Details: <span id="prodName"></span></h1>



</body>

</html>
